@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
html{
	width: 100%;
	overflow-x: hidden; 
}
a{
	text-decoration: none;
	color: #00f;

}
a:hover{
	color: #00f;
}
button#join{
	color: #E6E6E6;
	background-color: #ff0000;
	border: none;
	border-radius: 30px;
	height: 50px;
	width: 75%;
}
button#join:hover{
	background-color: #EA0000;
	color: #fff;
}
button.pay-button{
	color: #fff;
	background-color: #0F0;
	border: none;
	border-radius: 30px;
	width: 75%;
	height: 50px;
}
button.pay-button:hover{
	background-color: #058400;
}
button.pay-button>a{
	color: #fff;
}
button.pay-button>a:hover{
	color: #fff;
	text-decoration: none;
}
i{
	color: #000;
}
li>a{
	text-decoration: none;
	color: #0ff;
}
li>a:hover{
	text-decoration: none;
	color: #0ff;
}
p{
	color: #9A9A9A;
}
.first_slide_li{
	display: inline-block  !important;/*не работает*/
}
.good_card{
	border-radius: 10px;
	border: 1px solid #000;
	padding: 10px; 
	height: 450px;
}
.good_card:hover{
	transition: all 0.4s ease-out;
	box-shadow: 0px 5px 10px rgba(255,219,31,0.7);
}
.for_animate{
	margin-bottom: 40px;
}
.main_header{
	background-color: rgba(255,255,255,0.7);
	min-height: 400px;
}
.main_section{
	min-height: 1000px;
}
.header{
	background-image: url('../img/header_background1.jpg');
	background-repeat: repeat-x;
	min-height: 400px;
}
.hidden{
	opacity: 0;
}

.visible{
	opacity: 1;
}
.navbar ul{
	margin: 15px 15px 15px 0;
}
.navbar{
	position:fixed;
	left:0;
	height:100%;
	align-items:center;
	z-index: 100;
}
.navbar:before{
	content: '';
	position: absolute;
	width: 2px;
	height: 70%;
	max-height: 750px;
	background-color: #000;
	z-index: 10;
}
.navbar-nav{
	list-style-position: inside;
	color: #0ff;
}
.navbar-nav>li{
	margin: 10px;
	cursor: pointer;
}
.navbar-nav li:nth-child(1):before{
	content: '01';
}
.navbar-nav li:nth-child(2):before{
	content: '02';
}
.navbar-nav li:nth-child(3):before{
	content: '03';
}
.navbar-nav li:nth-child(4):before{
	content: '04';
}
.navbar-nav li:nth-child(5):before{
	content: '05';
}
.navbar-nav>li:before{
	position: absolute;
	font-size: 14px;
	font-weight: 300;
	left: 20px;
}
.navbar-nav li.is-active:before{
	left: 0px;
	font-size: 15px;
	font-weight: 500;
}
.navbar-nav li span{
	display: none;
}
.navbar-nav li.is-active{
	
}
.navbar-nav li.is-active span{
	transition: all 0.5s ease-out;
	display: inline;
}
.premium{
	z-index: 100;
}
.social a{
	text-align: center;
	width: 46px;
	height: 46px;
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
	border-radius: 46px;
	margin: 0 10px 10px 0;
	padding: 6px;
	color: #000;
}
.vk a:hover{
	background: #5d84ae;
	color: #fff;
}
#footer{
	color: #fff;
	background-color: #293B25;
	padding: 49px 0 49px 0; 
	border: 1px solid #000;
	margin-bottom: 0px !important;
}
#left_card{
	margin-top: 30px;
	margin-right: 5px;
}
#left_card:hover{
	transition: all 0.2s ease-out;
	box-shadow: -5px 5px 5px rgba(0,0,0,0.5);
}
#right_card{
	margin-top: 30px;
	margin-left: 5px;
}
#right_card:hover{
	transition: all 0.2s ease-out;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}